{% extends '::base.html.twig' %}

{% block body %}
    <div id="bodyWrapper" class="bg_body">
        <div class="wrapper-padd">
            <header>
                <a class="logo" href="#">
                    <img src="{{ asset('bundles/app/images/store_logo.png') }}" alt="Ukázková aplikace" title="Ukázková aplikace"
                            height="66" width="261">
                </a>
                <div class="row_1 ofh">
                    <div id="header">
                        <div class="box_header_user_menu">
                            <ul class="user_menu">
                                {% if is_granted("ROLE_USER") %}
                                    <li class="last"><a href="{{ path('fos_user_security_logout') }}">Odhlásit</a> </li>
                                    <li class="first">Jste přihlášen jako: {{ app.user.username }} &nbsp; </li>
                                {% else %}
                                    <li class="first"><a href="{{ path('fos_user_registration_register') }}"><div class="button-t"><span>Registrace</span></div></a></li>
                                    <li class="last"><a href="{{ path('fos_user_security_login') }}"><div class="button-t"><span>Přihlášení</span></div></a></li>
                                {% endif %}
                                </ul>
                        </div>
                    </div>
                </div>
                <div class="boxes_extra_row">
                    <div class="cart_header fl_right">
                        <div>
                            {% if app.session.get('SESSION_CART')|length > 0  %}
                                <a href="{{ path("eshop_show_cart") }}">
                                    <span>Košík - {{ app.session.get('SESSION_CART')|length }}
                                        {% if app.session.get('SESSION_CART')|length ==1 %} druh {% endif %}
                                        {% if app.session.get('SESSION_CART')|length >1 and app.session.get('SESSION_CART')|length <5 %} druhy {% endif %}
                                        {% if app.session.get('SESSION_CART')|length >5 %} druhů {% endif %}
                                    </span>
                                    zboží
                                </a>
                            {% else %}
                                <span>Váš košík je prázdný</span>
                            {% endif %}
                        </div>
                    </div>
                    <nav>
                        <div class="menu">
                            <ul>
                                <li class="first {% if app.request.attributes.get('_route') == 'eshop_main_homepage' %}current-item{% endif %}">
                                    <a href="{{ path('eshop_main_homepage') }}"><em class="left-arrow"></em><span>Úvod</span></a>
                                </li>
                                <li class="{% if app.request.attributes.get('_route') == 'eshop_about' %}current-item{% endif %}">
                                    <a href="{{ path('eshop_info',{"address":"about"}) }}"><em class="left-arrow"></em><span>O nás</span></a>
                                </li>
                                <li class="{% if app.request.attributes.get('_route') == 'eshop_terms' %}current-item{% endif %}">
                                    <a href="{{ path('eshop_info',{"address":"terms"}) }}"><em class="left-arrow"></em><span>Obchodní podmínky</span></a>
                                </li>
                                <li class="last {% if app.request.attributes.get('_route') == 'eshop_contact' %}current-item{% endif %}">
                                    <a href="{{ path('eshop_info',{"address":"contact"}) }}"><em class="left-arrow"></em><span>Kontakt</span></a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </header>
            <div class="ofh row_4">
                <div class="container_16">
                    <div class="padding-bottom-30">
                        {% for flashMessage in app.session.flashbag.get('error') %}
                            <div class="flash-notice bg-danger text-center">
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('success') %}
                            <div class="flash-notice bg-success text-center">
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                    </div>
                    {% block content %}
                        <div id="bodyContent" class="grid_12 push_4">
                            <div class="contentContainer">
                                <div class="contentPadd">
                                    {% block fos_user_content %}
                                    {% endblock fos_user_content %}
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                    <div id="columnLeft" class="grid_4 pull_12">
                        <div class="infoBoxWrapper list">
                            <div class="infoBoxHeading">
                                Naše zboží
                            </div>
                            <div class="infoBoxContents">
                                {{ getNavigation()|raw }}
                            </div>
                        </div>
                    </div>
                </div>

                <footer class="container_16 ofh">
                    <div class="footer">
                        <div class="grid_16">
                            <nav class="footer_menu">
                                <div class="Footer_BoxWrapper">
                                    <h4 class="Footer_BoxHeading">Hlavní menu</h4>

                                    <ul>
                                        <li class="first">
                                            <a href="{{ path('eshop_main_homepage') }}"><em class="left-arrow"></em><span>Úvod</span></a>
                                        </li>
                                        <li>
                                            <a href="{{ path('eshop_info',{"address":"about"}) }}"><em class="left-arrow"></em><span>O nás</span></a>
                                        </li>
                                        <li>
                                            <a href="{{ path('eshop_info',{"address":"terms"}) }}"><em class="left-arrow"></em><span>Obchodní podmínky</span></a>
                                        </li>
                                        <li class="last">
                                            <a href="{{ path('eshop_info',{"address":"contact"}) }}"><em class="left-arrow"></em><span>Kontakt</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                            <div>
                                <p>Jan Dočkal, Petr Kadlec, Michal Kočárek, František Odehnal © 2011 – 2015</p>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
{% endblock %}