{% extends "@App/layout.html.twig" %}
{% block description %}
    {{ meta.description }}
{% endblock %}
{% block keywords %}
    {{ meta.keywords }}
{% endblock %}
{% block title %}
    {{ meta.title }}
{% endblock %}
{% block content %}
    <div id="bodyContent" class="grid_12 push_4" >
        <div class="title-t">
            <h1>{{ category }}</h1>
        </div>
        <div class="contentContainer">
            <div class="contentPadd">

                        <div class="prods_content prods_table">
                            <ul class="row row3 first">
                                {% for product in products %}
                                    <li style="width: 218px; min-height: 329px;" class="wrapper_prods equal-height3 hover">
                                        <div class="border_prods">
                                            <div class="name name_padd equal-height" style="min-height: 36px;">
                                                <span>
                                                    <a href="{{ path("eshop_show_product",
                                                    {
                                                        "category":category,
                                                        "product":product.page.address
                                                    }) }}">{{ product.name }}</a>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="pic_padd wrapper_pic_div" style="width:180px;height:140px;">
                                            <a class="prods_pic_bg" style="width: 180px; height: 150px;" href="{{ path("eshop_show_product",
                                            {
                                                "category":category,
                                                "product":product.page.address
                                            }) }}">
                                                {% set mainImage= "bundles/app/images/" ~ product.mainImage %}
                                                <img src="{{ asset(mainImage) }}" alt="obrázek produktu" title="Zobrazit detail" style="width: 180px; height: 140px; margin: 0px;" height="140" width="180">
                                            </a>
                                        </div>
                                        <div class="prods_padd" style="padding-top: 10px">
                                            <div class="available">Skladem</div>
                                            <div class="desc desc_padd" style="min-height: 90px">{{ product.shortDescription [:80] }}...</div>
                                            <h2 class="price price_padd">
                                                <span class="productSpecialPrice">{{ product.totalPriceWithTax|number_format(2, ',', ' ') }} Kč</span>
                                            </h2>
                                        </div>
                                        <div class="button-padd">
                                                <a class="btn btn-default btn-small" href="{{ path("eshop_add_to_cart",{"product":product.id}) }}"><span class="glyphicon glyphicon-shopping-cart"></span> Do košíku</a>

                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                <div class="row text-center">
                </div>
                <div class="result result1_top">
                    <div class="result1_bottom">
                        <div class="cl_both result_top_padd ofh">
                            <div class="fl_left result_left">
                                <span>Zobrazeno od <strong>{{ offset+1 }}</strong> do <strong>{{ offset+limit }}</strong></span> (z celkem <strong>{{ total }}</strong>)
                            </div>
                            <div class="fl_right result_right">
                                {{ pagination|raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}
