{% extends "@App/layout.html.twig" %}
{% block content %}
    <div id="bodyContent" class="grid_12 push_4">
        <div class="title-t">
            <h1>Vítejte na stránkách ukázkové aplikace</h1>
        </div>

        <div class="contentContainer">
            <div class="contentPadd">
                Přejeme příjemný nákup
            </div>
        </div>
    </div>
{% endblock %}
