{% extends "@App/layout.html.twig" %}
{% block description %}
    {{ meta.description }}
{% endblock %}
{% block keywords %}
    {{ meta.keywords }}
{% endblock %}
{% block title %}
    {{ meta.title }}
{% endblock %}
{% block content %}
    <div id="bodyContent" class="grid_12 push_4">
        <div class="title-t">
            <h1>{{ name }}</h1>
        </div>
        <div class="contentContainer">
            <div class="contentPadd">
                {{ content|raw }}
            </div>
        </div>
    </div>
{% endblock %}