{% extends "@App/layout.html.twig" %}
{% block title %}
    {{ product.name }}
{% endblock %}
{% block content %}
    <div id="bodyContent" class="grid_12 push_4">
        <div class="title-t">
            <h1>{{ product.name }}</h1>
        </div>

        <div class="contentContainer">
            <div class="contentPadd">
                <div class="row">
                    <div class="col-xs-4">
                        {% for image in product.images %}
                            {% set pathImage = "bundles/app/images/" ~ image.name %}
                            {% if assetExist(pathImage) %}
                            {% else %}
                                {% set pathImage = "bundles/app/images/"~ "no-image-small.jpg"  %}
                            {% endif %}
                            <img src="{{ asset(pathImage) }}" width="180px" height="180px">
                            {% endfor %}
                    </div>
                    <div class="col-xs-8">
                        <h2>{{ product.name }}</h2>
                        <p>{{ product.description }}</p>

                        <h2>
                            <strong class="productSpecialPrice">{{product.totalPriceWithTax|number_format(2, ',', ' ') }} Kč</strong>
                        </h2>
                        <div class="button-padd text-right">
                                <a class="btn btn-default btn-small" href="{{ path("eshop_add_to_cart",{"product":product.id}) }}"><span class="glyphicon glyphicon-shopping-cart"></span>  Do košíku</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}