<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="keywords" content="{% block keywords %}{% endblock %}">
        <title>{% block title %}Welcome!{% endblock %} | RvMusic</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/sensiodistribution/webconfigurator/images/favicon.ico') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        {% stylesheets 'bundles/app/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% javascripts '@AppBundle/Resources/public/js/jquery/*' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts '@AppBundle/Resources/public/js/custom/ajaxCalls.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts '@AppBundle/Resources/public/js/custom/navigation.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
