{% extends "AppBundle::layout.html.twig" %}

{% block fos_user_content %}
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
        <div>
            {{ form_label(form.username)|raw }}
            {{ form_errors(form.username) }}
            {{ form_widget(form.username,{ 'attr': {'class': 'form-control'} })|raw }}
        </div>
        <div>
            {{ form_label(form.email)|raw }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email,{ 'attr': {'class': 'form-control'} })|raw }}
        </div>
        <div>
            {% for type in form.plainPassword  %}
                {{ form_label(type)|raw }}
                {{ form_errors(type) }}
                {{ form_widget(type,{ 'attr': {'class': 'form-control'} })|raw }}
            {% endfor %}

        </div>
        {{ form_rest(form) }}

        {##
                <div>
                    {{ form_label(form.show)|raw }}
                    {{ form_widget(form.show,{ 'attr': {'class': 'form-control'} })|raw }}
                </div>
                <div>
                    {% for type in form.invoiceAddress.vars.prototype  %}
                        {{ form_label(type)|raw }}
                        {{ form_widget(type,{ 'attr': {'class': 'form-control','novalidate': 'novalidate'} })|raw }}
                    {% endfor %}
                </div>

                <div>
                    {% for type in form.contact.vars.prototype  %}
                        {% if type.vars.name!="email" %}
                            {{ form_label(type)|raw }}
                            {{ form_widget(type,{ 'attr': {'class': 'form-control','novalidate': 'novalidate'} })|raw }}
                        {% endif %}
                    {% endfor %}
                </div>



                <div id="delivery-address-inputs" style="display: none">
                    {% for type in form.deliveryAddress.vars.prototype  %}
                        {{ form_label(type)|raw }}
                        {{ form_widget(type,{ 'attr': {'class': 'form-control'} })|raw }}
                    {% endfor %}
                </div>

                <div id="company-inputs" style="display: none">
                    {% for type in form.company.vars.prototype  %}
                        {{ form_label(type)|raw }}
                        {{ form_widget(type,{ 'attr': {'class': 'form-control'} })|raw }}
                    {% endfor %}
                </div>
        ##}
        <div style="padding-top: 20px">
            <button type="submit" class="form-control btn btn-default">Registrovat se</button>
        </div>
    </form>
{% endblock fos_user_content %}
