{% extends "@App/layout.html.twig" %}

{% block stylesheets %}
{% endblock %}
{% block title %}
    Nákupní Košík
{% endblock %}
{% block content %}
    <div id="bodyContent" class="grid_12 push_4">
        <div class="title-t">
            <h1>Nákupní košík</h1>
        </div>

        <div class="contentContainer">
            <div class="contentPadd">
                {% if cart|length >0 %}
                    <div class="row cart-head" style="border-style: ridge; border-top: 0">
                        <div class="col-xs-6 text-center"><h2>Produkty</h2></div>
                        <div class="col-xs-2 text-center"><h2>Množství</h2></div>
                        <div class="col-xs-4 text-center"><h2>Celková cena s DPH</h2></div>
                    </div>
                    {% set total = 0 %}
                    {% for products in cart %}
                        <div class="row" style="border-style: ridge; border-top: 0">
                            <div class="row text-center" style="margin-top: 10px">
                                <div class="col-xs-6">
                                    <div class="row">
                                        <div class="name name_padd equal-height">
                                        <span><a href="{{ path("eshop_show_only_product",
                                            {"product":products.product.page.address}) }}">{{ products.product.name }}</a></span>
                                        </div>
                                    </div>
                                    {% set mainImage= "bundles/app/images/" ~ products.product.mainImage %}
                                    <div class="row"><img width="180px" height="180px" src="{{ asset(mainImage) }}"></div>
                                </div>
                                <div class="col-xs-2 " style="margin-top: 20px">
                                    <form action="{{ path("eshop_cart_set_quantity") }}" method="POST">
                                        {{ form_widget(products.form.product) }}
                                        {{ form_widget(products.form._token) }}
                                        <div class="form-group">
                                            {{ form_errors(products.form.quantity) }}
                                            {{ form_widget(products.form.quantity,{ 'attr': {'size': '9'} }) }}
                                        </div>
                                        <div class="form-group input-group">
                                            <button class="orm-control btn btn-default btn-sm" type="submit" name="edit"><span class="glyphicon glyphicon-refresh"></span>
                                                Upravit</button>
                                        </div>
                                        <div class="form-group input-group">
                                            <button class="form-control btn btn-default btn-sm" type="submit" name="delete">
                                                <span class="glyphicon glyphicon-trash"></span>
                                                Odstranit</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-xs-4 cart_price" style="margin-top: 80px">
                                    <span class="productSpecialPrice">{{ (products.product.totalPriceWithTax*products.quantity)|number_format(2, ',', ' ') }} Kč</span>
                                </div>
                                {% set total = total+ products.product.totalPriceWithTax*products.quantity %}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-xs-5"></div>
                        <div class="col-xs-3 text-center cart_total" style="padding-top: 10px;">
                            Celková cena s DPH:
                        </div>
                        <div class="col-xs-4 text-center cart_total">
                            <span class="productSpecialPrice">
                                {{ total|number_format(2, ',', ' ') }} Kč
                            </span>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px; margin-bottom: 20px">
                        <div class="text-left col-xs-6">
                            <a class="btn btn-default btn-sm"href="{{ path("eshop_main_homepage") }}" ><span class="glyphicon glyphicon-chevron-left"></span>Pokračovat v nákupu</a>
                        </div>
                        <div class="text-right col-xs-6">
                            <a class="btn btn-default btn-sm" href="{{ path("eshop_methods_cart") }}"> Pokračovat v objednávce<span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                    </div>
                {% else %}
                    <h1>V košíku není žádné zboží</h1>
                    <div class="row" style="margin-top: 20px; margin-bottom: 20px">
                        <div class="text-left col-xs-6">
                            <a class="btn btn-default btn-sm" href="{{ path("eshop_main_homepage") }}" ><span class="glyphicon glyphicon-chevron-left"></span>Pokračovat v nákupu</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

