

        {% extends "@App/layout.html.twig" %}


        {% block stylesheets %}
        {% endblock %}
{% block title %}
    Potvrzení objednávky
{% endblock %}
        {% block content %}

        <div id="bodyContent" class="grid_12 push_4">
            <div class="title-t">
                <h1>Vyplňte kontaktní informace</h1>
            </div>


            <div class="contentContainer">
                <div class="contentPadd">
                    <div id="navlist">
                        <ul class="row ">
                            <li id="navigation-1">Patba a doprava</li>
                            <li id="navigation-2">Fakturační údaje</li>
                            <li id="navigation-3">Kontakt</li>
                            <li id="navigation-4">Doručovací adresa</li>
                            <li id="navigation-5">Společnost</li>
                        </ul>
                    </div>

                    <div id="successRedirect" style="display: none">
                        <div class="row text-center"><h1 class="alert-success ">Objednávka byla vyvořena, děkujeme</h1></div>
                        <div class="row text-center">
                            <a class="btn btn-success text-center" href="{{ path("eshop_main_homepage") }}">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                Pokračovat v nákupu
                            </a>
                        </div>
                    </div>

                    <div class="errorBox">
                        <ul id="paste-errors"></ul>
                    </div>

                    <form id="final-1" action="{{ path("purchase") }}" method="POST">
                        <div class="row">
                            {{ form_widget(purchaseForm._token) }}
                            <div class="row "><h2 class="text-center">{{ form_label(purchaseForm.delivery) }}</h2></div>
                            <div class="row padding-bottom-20">
                                <div class="col-xs-1"></div>
                                <div class="col-xs-9">Vyberte prosím jednu z následujících možností dopravy</div>
                                <div class="col-xs-2"><strong>Možnosti</strong></div>
                            </div>
                            {% for del in purchaseForm.delivery %}
                                <div class="row padding-bottom-20">
                                    <div class="col-xs-1"></div>
                                    <div class="col-xs-9">{{ form_label(del) }}</div>
                                    <div class="col-xs-2">{{ form_widget(del) }}</div>
                                </div>
                            {% endfor %}
                            <div class="row"><h2 class="text-center">{{ form_label(purchaseForm.payment) }}</h2></div>
                            <div class="row padding-bottom-20">
                                <div class="col-xs-1"></div>
                                <div class="col-xs-9">Vyberte prosím jednu z následujících možností platby</div>
                                <div class="col-xs-2"><strong>Možnosti</strong></div>
                            </div>
                            {% for del in purchaseForm.payment %}
                                <div class="row padding-bottom-20">
                                    <div class="col-xs-1"></div>
                                    <div class="col-xs-9">{{ form_label(del) }}</div>
                                    <div class="col-xs-2">{{ form_widget(del) }}</div>
                                </div>
                            {% endfor %}
                        </div>
                        {{ form_rest(purchaseForm) }}
                        <div class="row">
                            <div class="col-xs-6 text-left">

                            </div>
                            <div class="col-xs-6 text-right">
                                <button class="btn btn-default" type="submit" name="typeInvoiceForm" id="invoiceFormSubmit">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                    Dále
                                </button>
                            </div>
                        </div>


                    </form>


                    <form action="{{ path("invoice") }}" method="POST" id="final-2" style="display: none" class="form-first">

                        <div>
                            {{ form_errors(invoiceForm.firstname) }}
                            {{ form_label(invoiceForm.firstname) }}
                            {{ form_widget(invoiceForm.firstname,{ 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div>
                            {{ form_errors(invoiceForm.lastname) }}
                            {{ form_label(invoiceForm.lastname) }}
                            {{ form_widget(invoiceForm.lastname,{ 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div>
                            {{ form_errors(invoiceForm.city) }}
                            {{ form_label(invoiceForm.city) }}
                            {{ form_widget(invoiceForm.city,{ 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div>
                            {{ form_errors(invoiceForm.street) }}
                            {{ form_label(invoiceForm.street) }}
                            {{ form_widget(invoiceForm.street,{ 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="padding-bottom-20">
                            {{ form_errors(invoiceForm.zipCode) }}
                            {{ form_label(invoiceForm.zipCode) }}
                            {{ form_widget(invoiceForm.zipCode,{ 'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_rest(invoiceForm) }}
                        <div class="row">
                            <div class="col-xs-6 text-left">
                                <button class="btn btn-default back-form-button" type="button"><span class="glyphicon glyphicon-chevron-left"></span>Zpět</button>
                            </div>
                            <div class="col-xs-6 text-right">
                                <button class="btn btn-default" type="submit" name="typeInvoiceForm" id="invoiceFormSubmit"><span class="glyphicon glyphicon-chevron-right"></span>Dále</button>
                            </div>
                        </div>

                    </form>

                    <form action="{{ path("contact") }}" method="POST" style="display: none" id="final-3">
                        <div>
                            {{ form_errors(contactForm.email) }}
                            {{ form_label(contactForm.email) }}
                            {{ form_widget(contactForm.email,{ 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="padding-bottom-20">
                            {{ form_errors(contactForm.tel) }}
                            {{ form_label(contactForm.tel) }}
                            {{ form_widget(contactForm.tel,{ 'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_rest(contactForm) }}
                        <div class="row">
                            <div class="col-xs-6 text-left">
                                <button class="btn btn-default back-form-button" type="button"><span class="glyphicon glyphicon-chevron-left"></span>Zpět</button>
                            </div>
                            <div class="col-xs-6 text-right">
                                <button class="btn btn-default" type="submit" name="typeContactForm" id="contactFormSubmit"><span class="glyphicon glyphicon-chevron-right"></span>Dále</button>
                            </div>
                        </div>
                    </form>

                    <form action="{{ path("delivery") }}" method="POST" style="display: none"  id="final-4">
                        <label for="checkbox-input-4">Doručovací adresa je jiná než fakturační</label>
                        <input type="checkbox" id="checkbox-input-4" about="{{ path("unset_delivery") }}">
                        <div id="checkbox-form-base-4" style="display: none"><div>
                                {{ form_errors(deliveryForm.firstname) }}
                                {{ form_label(deliveryForm.firstname) }}
                                {{ form_widget(deliveryForm.firstname,{ 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div>
                                {{ form_errors(deliveryForm.lastname) }}
                                {{ form_label(deliveryForm.lastname) }}
                                {{ form_widget(deliveryForm.lastname,{ 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div>
                                {{ form_errors(deliveryForm.city) }}
                                {{ form_label(deliveryForm.city) }}
                                {{ form_widget(deliveryForm.city,{ 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div>
                                {{ form_errors(deliveryForm.street) }}
                                {{ form_label(deliveryForm.street) }}
                                {{ form_widget(deliveryForm.street,{ 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div class="padding-bottom-20">
                                {{ form_errors(deliveryForm.zipCode) }}
                                {{ form_label(deliveryForm.zipCode) }}
                                {{ form_widget(deliveryForm.zipCode,{ 'attr': {'class': 'form-control'} }) }}
                            </div>
                            {{ form_rest(deliveryForm) }}
                            <div class="row" >
                                <div class="col-xs-6 text-left">
                                    <button class="btn btn-default back-form-button" type="button"><span class="glyphicon glyphicon-chevron-left"></span>Zpět</button>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <button class="btn btn-default" type="submit" name="typeDeliveryForm" id="deliveryFormSubmit"><span class="glyphicon glyphicon-chevron-right"></span>Dále</button>
                                </div>
                            </div>
                        </div>
                        <div id="checkbox-form-anti-4" style="display: none">
                            <div class="row" >
                                <div class="col-xs-6 text-left">
                                    <button class="btn btn-default back-form-button" type="button"><span class="glyphicon glyphicon-chevron-left"></span>Zpět</button>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <button class="btn btn-default next-button" type="button" name="typeDeliveryForm"><span class="glyphicon glyphicon-chevron-right"></span>Dále</button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <form action="{{ path("company") }}" method="POST" style="display: none" id="final-5" class="form-last">
                        <label for="checkbox-input-5">Objednat zboží na firmu</label>
                        <input type="checkbox" id="checkbox-input-5" about="{{ path("unset_company") }}">
                        <div id="checkbox-form-base-5" style="display: none">
                            <div>
                                {{ form_errors(companyForm.name) }}
                                {{ form_label(companyForm.name) }}
                                {{ form_widget(companyForm.name,{ 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div>
                                {{ form_errors(companyForm.ic) }}
                                {{ form_label(companyForm.ic) }}
                                {{ form_widget(companyForm.ic,{ 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div class="padding-bottom-20">
                                {{ form_errors(companyForm.dic) }}
                                {{ form_label(companyForm.dic) }}
                                {{ form_widget(companyForm.dic,{ 'attr': {'class': 'form-control'} }) }}
                            </div>
                            {{ form_rest(companyForm) }}
                            <div class="row" >
                                <div class="col-xs-6 text-left">
                                    <button class="btn btn-default back-form-button" type="button"><span class="glyphicon glyphicon-chevron-left"></span>Zpět</button>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <button class="btn btn-default" type="submit" name="typeDeliveryForm" id="deliveryFormSubmit"><span class="glyphicon glyphicon-chevron-right"></span>Dále</button>
                                </div>
                            </div>
                        </div>
                        <div id="checkbox-form-anti-5" style="display: none">
                            <div class="row">
                                <div class="col-xs-6 text-left">
                                    <button class="btn btn-default back-form-button" type="button"><span class="glyphicon glyphicon-chevron-left"></span>Zpět</button>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <button class="btn btn-default" type="button" name="finalSent" id="finalSent" about="{{ path("purchase_summary") }}"><span class="glyphicon glyphicon-chevron-right"></span>Potvrdit objednávku</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}